@model IJSE.ARM.Common.Models.AidItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AidItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemSubCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSubCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentitemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentitemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatioToParentItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatioToParentItem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
