@model IJSE.ARM.Common.Models.AidDistributionConvoyVehicles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AidDistributionConvoyVehicles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AidDistributionConvoy.Root)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AidDistributionConvoy.Root)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
