@model IJSE.ARM.Common.Models.AidDistribution

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AidDistribution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisasterMaster.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisasterMaster.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficerInCharge.NIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficerInCharge.NIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeployedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
