@model IJSE.ARM.Common.Models.AidDistributionConvoy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AidDistributionConvoy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AidDistribution.ImagePathRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AidDistribution.ImagePathRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalVehicles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalVehicles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Root)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Root)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSLocations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSLocations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
